<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @service.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @service.descripcion %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
