 <nav>
    <ol>
      <li>
      	<%= link_to "Home", root_path %>
      </li>
      <li>
      	<%= link_to "Clientes", clients_path %>
      </li>
      <%if can? :create, @item %>
      <li>
      	<%= link_to "Articulos", items_path %>
      </li>
      <%end%>
      <li>
      	<%= link_to "Membresias", memberships_path %>
      </li>
      <%if can? :create, @ervice %>
      <li>
      	<%= link_to "Servicios", services_path %>
      </li>
      <%end%>
      <%if can? :create, @supplier %>
      <li>
      	<%= link_to "Proveedores", suppliers_path %>
      </li>
      <%end%>
      <%if can? :create, @user %>
      <li>
      	<%= link_to "Personal",users_path %>
      </li>
      <%end%>
      <%if can? :create, @lesson %>
      <li>
      	<%= link_to "Clases", lessons_path %>
      </li>
      <%end%>
      <li>
      	<%= link_to "Ventas", headersales_path %>
      </li>

      
    </ol>
  </nav>