<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @detail_sale.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detail_sale.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @detail_sale.precio %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @detail_sale.descuento %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @detail_sale.subtotal %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @detail_sale.tipo %>
</p>

<p>
  <strong>Headersale:</strong>
  <%= @detail_sale.headersale %>
</p>

<p>
  <strong>Item:</strong>
  <%= @detail_sale.item %>
</p>

<p>
  <strong>User:</strong>
  <%= @detail_sale.user %>
</p>

<%= link_to 'Edit', edit_detail_sale_path(@detail_sale) %> |
<%= link_to 'Back', detail_sales_path %>
